@use "sass:map";

$TT-primary-100: tint-color($TT-primary, 80%) !default;
$TT-primary-200: tint-color($TT-primary, 60%) !default;
$TT-primary-300: tint-color($TT-primary, 40%) !default;
$TT-primary-400: tint-color($TT-primary, 20%) !default;
$TT-primary-500: $TT-primary !default;
$TT-primary-600: shade-color($TT-primary, 20%) !default;
$TT-primary-700: shade-color($TT-primary, 40%) !default;
$TT-primary-800: shade-color($TT-primary, 60%) !default;
$TT-primary-900: shade-color($TT-primary, 80%) !default;

$TT-secondary-100: tint-color($TT-secondary, 80%) !default;
$TT-secondary-200: tint-color($TT-secondary, 60%) !default;
$TT-secondary-300: tint-color($TT-secondary, 40%) !default;
$TT-secondary-400: tint-color($TT-secondary, 20%) !default;
$TT-secondary-500: $TT-secondary !default;
$TT-secondary-600: shade-color($TT-secondary, 20%) !default;
$TT-secondary-700: shade-color($TT-secondary, 40%) !default;
$TT-secondary-800: shade-color($TT-secondary, 60%) !default;
$TT-secondary-900: shade-color($TT-secondary, 80%) !default;

$TT-tertiary-100: tint-color($TT-tertiary, 80%) !default;
$TT-tertiary-200: tint-color($TT-tertiary, 60%) !default;
$TT-tertiary-300: tint-color($TT-tertiary, 40%) !default;
$TT-tertiary-400: tint-color($TT-tertiary, 20%) !default;
$TT-tertiary-500: $TT-tertiary !default;
$TT-tertiary-600: shade-color($TT-tertiary, 20%) !default;
$TT-tertiary-700: shade-color($TT-tertiary, 40%) !default;
$TT-tertiary-800: shade-color($TT-tertiary, 60%) !default;
$TT-tertiary-900: shade-color($TT-tertiary, 80%) !default;

$TT-quaternary-100: tint-color($TT-quaternary, 80%) !default;
$TT-quaternary-200: tint-color($TT-quaternary, 60%) !default;
$TT-quaternary-300: tint-color($TT-quaternary, 40%) !default;
$TT-quaternary-400: tint-color($TT-quaternary, 20%) !default;
$TT-quaternary-500: $TT-quaternary !default;
$TT-quaternary-600: shade-color($TT-quaternary, 20%) !default;
$TT-quaternary-700: shade-color($TT-quaternary, 40%) !default;
$TT-quaternary-800: shade-color($TT-quaternary, 60%) !default;
$TT-quaternary-900: shade-color($TT-quaternary, 80%) !default;

$colors: map-remove($colors, "indigo", "purple", "pink", "orange", "teal");

$colors: map-merge(
  (
    "TT-primary": $TT-primary,
    "TT-secondary": $TT-secondary,
    "TT-tertiary": $TT-tertiary,
    "TT-quaternary": $TT-quaternary,
  ),
  $colors
);

$TT-primarys: (
  "TT-primary": $TT-primary,
  "TT-primary-100": $TT-primary-100,
  "TT-primary-200": $TT-primary-200,
  "TT-primary-300": $TT-primary-300,
  "TT-primary-400": $TT-primary-400,
  "TT-primary-500": $TT-primary-500,
  "TT-primary-600": $TT-primary-600,
  "TT-primary-700": $TT-primary-700,
  "TT-primary-800": $TT-primary-800,
  "TT-primary-900": $TT-primary-900,
) !default;

$TT-secondarys: (
  "TT-secondary": $TT-secondary,
  "TT-secondary-100": $TT-secondary-100,
  "TT-secondary-200": $TT-secondary-200,
  "TT-secondary-300": $TT-secondary-300,
  "TT-secondary-400": $TT-secondary-400,
  "TT-secondary-500": $TT-secondary-500,
  "TT-secondary-600": $TT-secondary-600,
  "TT-secondary-700": $TT-secondary-700,
  "TT-secondary-800": $TT-secondary-800,
  "TT-secondary-900": $TT-secondary-900
) !default;

$TT-tertiarys: (
  "TT-tertiary": $TT-tertiary,
  "TT-tertiary-100": $TT-tertiary-100,
  "TT-tertiary-200": $TT-tertiary-200,
  "TT-tertiary-300": $TT-tertiary-300,
  "TT-tertiary-400": $TT-tertiary-400,
  "TT-tertiary-500": $TT-tertiary-500,
  "TT-tertiary-600": $TT-tertiary-600,
  "TT-tertiary-700": $TT-tertiary-700,
  "TT-tertiary-800": $TT-tertiary-800,
  "TT-tertiary-900": $TT-tertiary-900
) !default;

$TT-quaternarys: (
  "TT-quaternary": $TT-quaternary,
  "TT-quaternary-100": $TT-quaternary-100,
  "TT-quaternary-200": $TT-quaternary-200,
  "TT-quaternary-300": $TT-quaternary-300,
  "TT-quaternary-400": $TT-quaternary-400,
  "TT-quaternary-500": $TT-quaternary-500,
  "TT-quaternary-600": $TT-quaternary-600,
  "TT-quaternary-700": $TT-quaternary-700,
  "TT-quaternary-800": $TT-quaternary-800,
  "TT-quaternary-900": $TT-quaternary-900
) !default;


$TTColors: map-merge(
  $TT-primarys,
  map-merge(
    $TT-secondarys,
    map-merge($TT-tertiarys, $TT-quaternarys)
  )
);

$ThemeTransitionTime: 0.2s ease-in-out all;
$HoverTransitionTime: 0.3s ease-in-out all;
$RenderMenuWidth: 300px;

$BannerMargin: 230px;


$container-breakpoints: (
  xxs: 120px,
  xs: 340px,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$custome-font-size: (
    '7': '2rem',
    '8': '1.5rem',
    '9': '1rem',
    '10': '0.5rem'
);

$display-font-sizes: map-merge($display-font-sizes, $custome-font-size);

$carousel-control-color: $TT-primary !default;
$carousel-indicator-active-bg: $TT-primary !default;