// Light Mode Defaults
$TT-primary: rgb(254, 250, 241) !default;
$TT-secondary: rgb(13, 60, 104) !default;
$TT-tertiary: rgb(244, 243, 235) !default;
$TT-quaternary: rgb(249, 89, 57) !default;


// Override Bootstrap Variables 
$primary: $TT-primary;
$secondary: $TT-secondary;
$success: $TT-tertiary;

// Other
$tertiary: $TT-tertiary;
$enable-negative-margins: true;