// Light Mode Defaults
$TT-primary: #FEF9EF !default;
$TT-secondary: #0D3B66 !default;
$TT-tertiary: #F4F2EA !default;
$TT-quaternary: #F95738 !default;

// Override Bootstrap Variables 
$primary: $TT-primary;
$secondary: $TT-secondary;
$success: $TT-tertiary;

// Other
$tertiary: $TT-tertiary;
$enable-negative-margins: true;