:root {
    // Semantic (Shared)
    --tt-header-text: #fefaf1;
    --tt-footer-text: #fefaf1;
    
    // Semantic (Theme)
    --tt-bg: #fefaf1;
    --tt-text: #0a0d14;
    --tt-header: #0d3d68;
    --tt-footer: #0d3d68;
}

.theme-dark {

    // Semantic (Theme)
    --tt-bg: #0a0d14;
    --tt-text: #fefaf1;
    --tt-header: #58768D;
    --tt-footer: #58768D;
}