:root {
    --tt-primary: #{$TT-primary};
    --tt-secondary: #{$TT-secondary};
    --tt-secondary-rgb: 13, 60, 104;
    --tt-tertiary: #{$TT-tertiary};
    --tt-quaternary: #{$TT-quaternary};

    --bs-primary: var(--tt-primary);
    --bs-secondary: var(--tt-secondary);
    --bs-success: var(--tt-tertiary);
}

.theme-dark {
    --tt-primary: rgb(38, 36, 34);
    --tt-secondary: hsl(206, 23%, 45%);
    --tt-secondary-rgb: 206, 23%, 45%;
    --tt-tertiary: rgb(29, 30, 34);
    --tt-quaternary: rgb(43, 45, 49);

    --bs-primary: var(--tt-primary);
    --bs-secondary: var(--tt-secondary);
    --bs-success: var(--tt-tertiary);
}