@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Noto+Serif+JP:wght@200..900&display=swap');

.caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
  }
  