$TT-primary: #263752 !default;
$TT-secondary: #AFCFCE !default;
$TT-tertiary: #F8F8F8 !default;
$TT-quaternary: #F4F2EA !default;
$primary: $TT-primary;
$secondary: $TT-secondary;
$success: $TT-tertiary;
$tertiary: $TT-tertiary;
$enable-negative-margins: true;